<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />

  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="/css/all.min.css" />

  <!-- Sweetalert CSS -->
  <link rel="stylesheet" href="/css/sweetalert2.min.css" />

  <link rel="icon"
    href="/images/bitcoin-blockchain-512.png" />

  <title>Application Decentralisée</title>
</head>

<body>

  <!-- Navbar -->
  <% include ../partials/header.ejs %>

<!-- Content -->

  <div class="container">
    <%- body %>
  </div>

</body>
<script src="/js/web3.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.min.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/cookie.min.js" async></script>
<script src="/js/custom.js"></script>

</html>